{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food App</title>
</head>
<body>
    {% block body %}
        {% for item in items_list %}
            <div class="row">
                <div class="col-md-3 offset-md-2">
                    <img src="{{ item.item_image }}" alt="Image" class="card" style="height: 150px;"/>
                </div>
                <div class="col-md-4">
                    <h1>{{ item.item_name }}</h1>
                    <h2>{{ item.item_description }}</h2>
                    <h4>Rs.{{ item.item_price }}</h4>
                </div>
                <div class="col-md-2 ">
                    <a href="{% url 'food:detail' item.id %}" class="btn btn-success">View Details</a>
                </div>
            </div>
        {% endfor %}
    {% endblock %}
</body>
</html>